
@media only screen and (max-width: 1000px) {
    .dropdown {
        
        min-width: 5rem;
    }
    .offcanvas.offcanvas-end {
        max-width: 40%;
        min-width: 20%;
        
    }
}
@media only screen and (min-width: 1001px) {
    .offcanvas.offcanvas-end {
        width: 15%;
    }
}